@import url('https://fonts.googleapis.com/css2?family=Open%20Sans:wght@400;500;700&display=swap');

html,
body {
  position: relative;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Default color scheme */
  --primary-color:#ffbf00;
  --secondary-color: #0040ff;
  --text-color: #213547;
  /*Additional variable colors to make development easier  */
  --blue: #3490dc;
  --dark_blue: #0668b8;
  --green: #02730a;
  --light-blue: #d5ecff;
  --lighter-blue: #e5f1fb;
  --light-gray: rgb(238, 236, 236);
  --medium-gray: #ccc;
  --dark-gray: #999;
  --white: #fff;
  --black:#333;
  --gray: #ccc;
  --gradient: linear-gradient(-15deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  --loop-gradient: linear-gradient(
    75deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab,
    #23a6d5,
    #e73c7e,
    #ee7752
  );
  --default-font-family:Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; 
  --editor-font-family: 'Merriweather', serif;
  --sidebar-left-width: 400px;
  --sidebar-right-width: 450px;
  --text-selection: rgb(178, 216, 252);

  /*Material Design Variables  */
  --md-sys-color-primary: rgb(120 90 11);
  --md-sys-color-surface-tint: rgb(120 90 11);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(255 223 160);
  --md-sys-color-on-primary-container: rgb(38 26 0);
  --md-sys-color-secondary: rgb(107 92 63);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(245 224 187);
  --md-sys-color-on-secondary-container: rgb(36 26 4);
  --md-sys-color-tertiary: rgb(74 101 70);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(204 235 196);
  --md-sys-color-on-tertiary-container: rgb(8 32 8);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(255 248 242);
  --md-sys-color-on-background: rgb(31 27 19);
  --md-sys-color-surface: rgb(255 248 242);
  --md-sys-color-on-surface: rgb(31 27 19);
  --md-sys-color-surface-variant: rgb(237 225 207);
  --md-sys-color-on-surface-variant: rgb(77 70 57);
  --md-sys-color-outline: rgb(127 118 103);
  --md-sys-color-outline-variant: rgb(208 197 180);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(53 48 39);
  --md-sys-color-inverse-on-surface: rgb(250 239 226);
  --md-sys-color-inverse-primary: rgb(234 193 108);
  --md-sys-color-primary-fixed: rgb(255 223 160);
  --md-sys-color-on-primary-fixed: rgb(38 26 0);
  --md-sys-color-primary-fixed-dim: rgb(234 193 108);
  --md-sys-color-on-primary-fixed-variant: rgb(92 67 0);
  --md-sys-color-secondary-fixed: rgb(245 224 187);
  --md-sys-color-on-secondary-fixed: rgb(36 26 4);
  --md-sys-color-secondary-fixed-dim: rgb(216 196 160);
  --md-sys-color-on-secondary-fixed-variant: rgb(83 69 42);
  --md-sys-color-tertiary-fixed: rgb(204 235 196);
  --md-sys-color-on-tertiary-fixed: rgb(8 32 8);
  --md-sys-color-tertiary-fixed-dim: rgb(177 207 169);
  --md-sys-color-on-tertiary-fixed-variant: rgb(51 77 48);
  --md-sys-color-surface-dim: rgb(226 217 204);
  --md-sys-color-surface-bright: rgb(255 248 242);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(253 242 229);
  --md-sys-color-surface-container: rgb(247 236 223);
  --md-sys-color-surface-container-high: rgb(241 231 217);
  --md-sys-color-surface-container-highest: rgb(235 225 212);


  --md-ref-typeface-brand: 'Open Sans';
  --md-ref-typeface-plain: system-ui;
  /* Setting font family */
  font-family: var(--default-font-family);
  line-height: 1.5;
  font-weight: 400;
  color: var(--md-sys-color-on-background);
  background-color: var(--md-sys-color-background);
}




/* Color Theme Swatches in Hex */
.LLMs-and-DIY-Tutorial-Authorship-1-hex { color: #FFC000; }
.LLMs-and-DIY-Tutorial-Authorship-2-hex { color: #FFF30D; }
.LLMs-and-DIY-Tutorial-Authorship-3-hex { color: #19BBFF; }
.LLMs-and-DIY-Tutorial-Authorship-4-hex { color: #6C19FF; }
.LLMs-and-DIY-Tutorial-Authorship-5-hex { color: #FF8E0D; }



* {
  box-sizing: border-box;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* 
.light {
  --md-sys-color-primary: rgb(120 90 11);
  --md-sys-color-surface-tint: rgb(120 90 11);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(255 223 160);
  --md-sys-color-on-primary-container: rgb(38 26 0);
  --md-sys-color-secondary: rgb(107 92 63);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(245 224 187);
  --md-sys-color-on-secondary-container: rgb(36 26 4);
  --md-sys-color-tertiary: rgb(74 101 70);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(204 235 196);
  --md-sys-color-on-tertiary-container: rgb(8 32 8);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(255 248 242);
  --md-sys-color-on-background: rgb(31 27 19);
  --md-sys-color-surface: rgb(255 248 242);
  --md-sys-color-on-surface: rgb(31 27 19);
  --md-sys-color-surface-variant: rgb(237 225 207);
  --md-sys-color-on-surface-variant: rgb(77 70 57);
  --md-sys-color-outline: rgb(127 118 103);
  --md-sys-color-outline-variant: rgb(208 197 180);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(53 48 39);
  --md-sys-color-inverse-on-surface: rgb(250 239 226);
  --md-sys-color-inverse-primary: rgb(234 193 108);
  --md-sys-color-primary-fixed: rgb(255 223 160);
  --md-sys-color-on-primary-fixed: rgb(38 26 0);
  --md-sys-color-primary-fixed-dim: rgb(234 193 108);
  --md-sys-color-on-primary-fixed-variant: rgb(92 67 0);
  --md-sys-color-secondary-fixed: rgb(245 224 187);
  --md-sys-color-on-secondary-fixed: rgb(36 26 4);
  --md-sys-color-secondary-fixed-dim: rgb(216 196 160);
  --md-sys-color-on-secondary-fixed-variant: rgb(83 69 42);
  --md-sys-color-tertiary-fixed: rgb(204 235 196);
  --md-sys-color-on-tertiary-fixed: rgb(8 32 8);
  --md-sys-color-tertiary-fixed-dim: rgb(177 207 169);
  --md-sys-color-on-tertiary-fixed-variant: rgb(51 77 48);
  --md-sys-color-surface-dim: rgb(226 217 204);
  --md-sys-color-surface-bright: rgb(255 248 242);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(253 242 229);
  --md-sys-color-surface-container: rgb(247 236 223);
  --md-sys-color-surface-container-high: rgb(241 231 217);
  --md-sys-color-surface-container-highest: rgb(235 225 212);
}

.dark {
  --md-sys-color-primary: rgb(234 193 108);
  --md-sys-color-surface-tint: rgb(234 193 108);
  --md-sys-color-on-primary: rgb(64 45 0);
  --md-sys-color-primary-container: rgb(92 67 0);
  --md-sys-color-on-primary-container: rgb(255 223 160);
  --md-sys-color-secondary: rgb(216 196 160);
  --md-sys-color-on-secondary: rgb(59 47 21);
  --md-sys-color-secondary-container: rgb(83 69 42);
  --md-sys-color-on-secondary-container: rgb(245 224 187);
  --md-sys-color-tertiary: rgb(177 207 169);
  --md-sys-color-on-tertiary: rgb(29 54 27);
  --md-sys-color-tertiary-container: rgb(51 77 48);
  --md-sys-color-on-tertiary-container: rgb(204 235 196);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(23 19 11);
  --md-sys-color-on-background: rgb(235 225 212);
  --md-sys-color-surface: rgb(23 19 11);
  --md-sys-color-on-surface: rgb(235 225 212);
  --md-sys-color-surface-variant: rgb(77 70 57);
  --md-sys-color-on-surface-variant: rgb(208 197 180);
  --md-sys-color-outline: rgb(153 143 128);
  --md-sys-color-outline-variant: rgb(77 70 57);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(235 225 212);
  --md-sys-color-inverse-on-surface: rgb(53 48 39);
  --md-sys-color-inverse-primary: rgb(120 90 11);
  --md-sys-color-primary-fixed: rgb(255 223 160);
  --md-sys-color-on-primary-fixed: rgb(38 26 0);
  --md-sys-color-primary-fixed-dim: rgb(234 193 108);
  --md-sys-color-on-primary-fixed-variant: rgb(92 67 0);
  --md-sys-color-secondary-fixed: rgb(245 224 187);
  --md-sys-color-on-secondary-fixed: rgb(36 26 4);
  --md-sys-color-secondary-fixed-dim: rgb(216 196 160);
  --md-sys-color-on-secondary-fixed-variant: rgb(83 69 42);
  --md-sys-color-tertiary-fixed: rgb(204 235 196);
  --md-sys-color-on-tertiary-fixed: rgb(8 32 8);
  --md-sys-color-tertiary-fixed-dim: rgb(177 207 169);
  --md-sys-color-on-tertiary-fixed-variant: rgb(51 77 48);
  --md-sys-color-surface-dim: rgb(23 19 11);
  --md-sys-color-surface-bright: rgb(62 56 47);
  --md-sys-color-surface-container-lowest: rgb(17 14 7);
  --md-sys-color-surface-container-low: rgb(31 27 19);
  --md-sys-color-surface-container: rgb(36 31 23);
  --md-sys-color-surface-container-high: rgb(46 41 33);
  --md-sys-color-surface-container-highest: rgb(57 52 43);
} */
